[2017-12-21 22:37] probonopd opened #3 "Provide example AppImage on GitHub Releases"
Please provide the example for download as an AppImage on GitHub Releases.

Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [m

[2017-12-22 03:08] antony-jr commented on #3
I never thought that , Will do later ( Maybe in a couple of days ?) . Thank You 💟

[2017-12-22 03:08] #3 closed

[2018-03-22 13:31] hcaihao opened #7 "Build break under vs2015+windows10+qt5.6.3"
**Select your issue type:** (check at least one)
- [ x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
1>E:\Qt\QArchive\src\QArchive.cc(539): error C2065: 'ssize_t': undeclared identifier
1>E:\Qt\QArchive\src\QArchive.cc(539): error C2146: syntax error: missing ';' before identifier 'len'
1>E:\Qt\QArchive\src\QArchive.cc(539): error C2065: 'len': undec

[2018-03-22 13:37] antony-jr commented on #7
I never built this in windows with msvc , did you have libarchive installed ?

[2018-03-22 13:37] hcaihao commented on #7
Yes, Now I add

[code]

can solve this issue.

[2018-03-22 13:39] antony-jr commented on #7
sounds good , I will update the source code with your fix! Thank You! :+1:

[2018-03-22 13:59] #7 closed

[2018-03-22 15:14] hcaihao opened #9 "How to get file detail informations in the zip."
**Select your issue type:** (check at least one)
- [ ] Bug
- [x] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
How to get file modify date, zipped size, original size, crc value? such as winrar does.

**Ways to Reproduce the issue (optional):**
Thanks.

[2018-03-22 15:17] antony-jr commented on #9
@hcaihao These are not implemented yet , Sorry but I will get those features soon ( in a week or two ? ).

[2018-03-22 15:42] hcaihao commented on #9
ok, expect for your work!

[2018-04-19 12:53] #9 closed

[2018-05-12 13:43] antony-jr opened #11 "Example code at the official documentation does not work."
**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
```setFunc``` is doing something strange that it does nothing when ``` start ``` is called , Thus all example codes at the site is useless.

**Ways to Reproduce the issue (optional):**
Try the example codes at the official documentation.

[2018-05-12 14:31] #11 closed

[2018-08-19 15:58] alberthdev opened #13 "MSVC build not working due to problematic usage of stat struct"
**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
I'm building the latest QArchive on MSVC, and it looks like it's failing to compile due to the use of Linux stat struct isms, e.g.:

[code]

**Ways to Reproduce the issue (optional):**
Build under MSVC to see the issue.

[2018-08-19 17:30] antony-jr commented on #13
@alberthdev Did you include all the needed header files , please see https://github.com/antony-jr/QArchive/issues/7. If that did not work for you then please wait , It may take some time to cleanup the mess.

[2018-08-20 12:03] antony-jr commented on #13
@alberthdev Thank you. I never tested the sources on windows. (Its kinda of a pain to even compile libarchive in windows ) , Maybe in near future , We will need to include some windows CI.

[2018-10-19 08:46] abdullah-radwan opened #16 "QArchive extracts the first file only"
**Select your issue type:**
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
The output folder contains only the first file in the compressed file. The following code used:
[code]
Proton UR500 folder conatins only the first file, Config/Earth/Base/Baikonur.cfg.
**Ways to Reproduce the issue (optional):**
The used file: https://www.orbithangar.com/s

[2018-10-19 10:53] antony-jr commented on #16
@abdullah-radwan Thats weird , Can you please mention your operating system and other basic info , I tried to extract the archive using the **extract_archive**(https://github.com/antony-jr/QArchive/tree/master/examples/extract_archive) example , And it worked without any issues.

Are you sure you are doing everything correctly ,
Here is my results...

[code]

[2018-10-19 10:56] antony-jr commented on #16
Try using it as a normal object instead of chaining the methods. I'm currently rebuilding everything , As the current source is not good at all(it was a fast hack).

[2018-10-19 11:49] abdullah-radwan commented on #16
Looks like there is a problem with slashes on Windows: `An error has occured :: error code ->  3  ::  "D:/user/Downloads/Orbiter2016\\Config/Earth/Base/Baikonur.cfg"`

[2018-10-19 12:11] abdullah-radwan commented on #16
After some modifications to clearDestPath so the slash appears correctly, I still have the same error:
[code]
`An error has occured :: error code ->  3  ::  "D:/user/Downloads/Orbiter2016/Config/Earth/Base/Baikonur.cfg"`

[2018-10-19 13:10] antony-jr commented on #16
Hmm... Looks like it needs some work , I will look into it later. As I said I'm rebuilding this.

[2019-01-27 09:19] abdullah-radwan commented on #16
Still have the same problem, with the repository zip file:
`An error has occured :: "QArchive::ArchiveCorrupted" :: "D:/user/Downloads/QArchive-master.zip"`

I've recompiled libarchive with zlib and bzip, still have the same problem. The archive works with 7-Zip.

[2019-01-27 09:34] antony-jr commented on #16
@abdullah-radwan RAR library is proprietary and libarchive itself does not completely support it , I'm not sure which library does RAR but I will check it in my computer. Thank you for the fast reply.

[2019-01-27 09:40] antony-jr commented on #16
@abdullah-radwan Same error here with RAR files , I did not know about this.
[code]

[2019-05-16 01:35] kanryu opened #20 "DiskExtractor can construct with QFileDevice* or QIODevice*"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [x] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
Hi,

I'm looking for a Qt library that expands the 7z archives and found yours.

I examined the DiskExtractor class, but there seems to be no way to create an instance from on-memory archive data. QFile is for reading and writing real files on disk, an

[2019-05-16 10:10] antony-jr commented on #20
@kanryu For a long time nobody requested this feature So I was waiting for someone to ask. Its called DiskExtractor because it can only extract archives based on the storage of the computer. Now that you have raised an issue , I will look into it. So Thanks for reporting this.

From the docs ,

**Please wait for a while , I will be implementing it.**

[2019-05-18 13:46] antony-jr commented on #20
@kanryu I've made the DiskExtractor to construct with QIODevice , please try this branch -> https://github.com/antony-jr/QArchive/tree/use-qiodevice

The important thing is that , **you cannot extract 7zip archives from sequential QIODevice because they can't seek.** libarchive still does not fully support 7zip archives , it has a lot of errors. I ended up re-implementing archive_read_open  from s

[2019-05-18 14:12] kanryu commented on #20
thank you for your effort. There are not a few cases where it is necessary to extract an archive that is in memory, for example if you have an archive within an archive, you will be able to extract the inner archive without saving to a file.

[2019-05-18 14:45] antony-jr commented on #20
Anyways , I will be merging it to master after I've made some cosmetic changes. So please wait till then. Use the mentioned branch for testing and other stuff.

[2019-05-20 03:52] antony-jr commented on #20
Now you can construct the QArchive::DiskExtractor with any class which has QIODevice as the base class , here is the [documentation](https://antony-jr.github.io/QArchive/docs/QArchiveDiskExtractor.html#diskextractorqiodevice-archive-qobject-parent-nullptr-bool-singlethreaded-true).

Thank you for reporting this.

[2019-05-20 03:52] #20 closed

[2019-09-17 12:26] alvin-xian opened #21 "No API for compress dir"
**Select your issue type:** (check at least one)
- [ ] Bug
- [x] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
No API for compress dir, it's important
**Ways to Reproduce the issue (optional):**
No need

[2019-09-17 12:28] alvin-xian commented on #21
I had build archive lib&dll by msvc2013.
if u need , i would send u

[2019-09-17 13:35] antony-jr commented on #21
@alvin-xian Do you want a method in ```QArchive::DiskCompressor``` to recursively add files to the archive from a directory??

[2019-09-17 13:38] antony-jr commented on #21
in my opinion you can do it manually but I think its a nice feature to have, I will add it in the next version. Thanks for the suggestion.

[2019-09-18 11:51] longseespace opened #23 "Better progress report for DiskCompressor"
- [ ] Bug
- [ ] Question
- [x] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
The current `percentageDone` implementation is not very useful (or even incorrect) in term of UX. It is calculated as `((n_TotalEntries - m_ConfirmedFiles->size())*100)/n_TotalEntries)` (https://github.com/antony-jr/QArchive/blob/master/src/qarchivediskcompressor_p.cc#L543)

I can see some issues wit

[2019-09-18 13:55] antony-jr commented on #23
@longseespace I think the hardest part is getting the total data size, we would have to walk through every file but I think this can be efficiently done. So I think the performance would not be effected at all.. But I personally think we don't need a elapsed timer since the loop is going to loop every second or less than that...

[2019-09-18 14:04] longseespace commented on #23
Without the timer it would emit a lot and in my app, it hangs. So I think we still need it. Let me polish the code and send a PR

[2019-09-18 14:33] antony-jr commented on #23
Okay. Thanks for the PR.

[2019-09-22 17:24] longseespace commented on #23
@antony-jr While working on the PR I realize that it's easy to calculate the `bytesTotal` for `DiskCompressor` but not so easy for `DiskExtractor`. Do you have any idea on how to calculate it?

[2019-11-28 15:43] #23 closed

[2020-04-13 15:39] d-divita opened #26 "Compressed file is not closed after decompression"
**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
The compressed file, after being correctly unzipped, is not closed i.e. it can't be renamed/deleted from the file explorer

**Ways to Reproduce the issue (optional):**
[Windows 10, Qt 5.14.1, mingw-64bit]
Initialize the extractor:
[code]

then when the

[2020-04-13 15:56] d-divita opened #27 "Reporting decompression progress in bytes"
**Select your issue type:** (check at least one)
- [ ] Bug
- [x] Question
- [x] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
For what I understood, the "progress" signal is fired after each file in the archive has been completely decompressed, so, if there is just one file in the archive, the progress is reported at the end of the whole decompression.
My question is if there

[2020-04-13 18:00] antony-jr commented on #26
Okay Will look into it.

[2020-04-13 18:02] antony-jr commented on #27
I think I've done this, I will check the source and ping back asap.

[2020-04-13 22:47] antony-jr commented on #26
@d-divita Can you please verify this on the latest commit?

[2020-04-13 22:48] antony-jr commented on #27
@d-divita Can you please try the latest commit??

[2020-04-13 22:59] #13 closed

[2020-04-14 10:33] d-divita commented on #26
I confirm that now the file is released correctly. Thank you very much for the fast fix.

[2020-04-14 10:33] #26 closed

[2020-04-14 11:02] d-divita commented on #27
Now it works exactly the way I needed it to, thank you!

[2020-04-14 11:02] #27 closed

[2020-04-22 16:57] d-divita opened #28 "Cancel/pause behaviour"
**Select your issue type:** (check at least one)
- [x] Bug
- [x] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
I have a doubt on the cancel/pause function: I would like to be able to stop a decompression in my app, so I have a button that once pressed it calls the cancel() slot on the extractor (sample code below); I don't know if it is a bug or if I misunderst

[2020-04-23 12:57] antony-jr commented on #28
This is because I kept the cancel and pause routine at the end of each file extraction in the archive. So for single file archives it does something strange like this. I will fix this ASAP.

[2020-05-02 14:29] antony-jr commented on #28
Sorry for the late fix. The latest commit fixes this. Please reopen if it doesn't work for you.

[2020-05-02 14:29] #28 closed

[2020-08-08 14:55] g-fb opened #29 "Extracting archives with non-Latin1 characters is not ideal"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [x] Suggestion
- [ ] Other (please describe):

The output path is converted to Latin-1 https://github.com/antony-jr/QArchive/blob/master/src/qarchivediskextractor_p.cc#L602
But if the output path contains non-Latin1 characters, like japanese characters, they get turned to `?`.
`toUtf8()` should do the same without the abov

[2020-08-08 19:02] antony-jr commented on #29
You make a very good point, I will change it in the next release or you can send a pull request if you are interested.

[2020-08-09 12:25] g-fb commented on #29
The password also uses toLatin1, should I change that too?

[2020-08-09 12:47] antony-jr commented on #29
Yes.

[2020-08-14 08:41] #29 closed

[2020-11-19 16:29] KGergo88 opened #31 "Is it possible to extract LZMA zip archives with QArchive?"
**Select your issue type:** (check at least one)
- [ ] Bug
- [x] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
Thank you for developing this project!

I have a Qt app that needs to read text based files that are compressed into a zip archive. Previously this was done with [QuaZip](https://github.com/stachenov/quazip) but recetly, the component that creates the

[2020-11-19 17:32] antony-jr commented on #31
@KGergo88 QArchive uses libarchive as the backend. But libarchive says -> Automatically handles archives compressed with gzip, bzip2, lzip, xz, lzma, or compress.  So let me check it in my system.

[2020-11-19 18:05] antony-jr commented on #31
[code]

@KGergo88 I can extract the file generated by your python script. So I think we can extract this type of ZIP files. I think you are missing some optional dependencies like liblzma. Also I compiled from master branch of QArchive. One way to verify if you have all libs correctly installed is compiling or installing **bsdtar** and run ```bsdtar --version``` and should have output similar to m

[2020-11-20 10:25] KGergo88 commented on #31
Hello @antony-jr,

many thanks for your help! :smile:

You were right, the `liblzma-dev` package was missing on my system, only the `liblzma5` was present. I have installed it, rebuilt the liblzma and the QArchive and now the disk extractor example **works as expected**. The minitar example gives me the same error as before but that is not important.

**One more question:** is it possible to use Q

[2020-11-20 10:48] antony-jr commented on #31
@KGergo88 You can open a Archive in Memory but the output is written to the disk. But I'm thinking about making it possible in the future. See [setArchive(QIODevice*)](https://antonyjr.in/QArchive/docs/QArchiveDiskExtractor.html#void-setarchiveqiodevice-archvie)

Please open a new issue or rename this one to keep a tab on the feature to enable extract data to memory.

[2020-11-20 11:41] KGergo88 opened #32 "Add a feature for reading an archive without having to extract the files to the disk"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [x] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
I would like to use the QArchive extracting feature to read the files in the archive without storing them to the disk.
In my use case the files would be simple text or json files in an LZMA zip archive. This issue is related to the question #31.

[2020-11-20 11:42] KGergo88 commented on #31
Thank you for your help! I will close this issue.

[2020-11-20 11:42] #31 closed

[2020-11-20 12:00] antony-jr commented on #32
Let me see If I can do something. Will be keeping this issue as a tracker for that feature.

[2021-01-31 04:50] unusual-aspect opened #33 "Read zip info - as basic infor about it."
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [ x] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
As there is a function that as i was expect will return info about file - is return all files info.
What i sugest is have some quick and dirty function to return number of files/entries in zip file (or any other archive).
That will help to create a ni

[2021-01-31 08:57] antony-jr commented on #33
@unusual-aspect There is already a signal called [progress](https://antonyjr.in/QArchive/docs/QArchiveDiskExtractor.html#void-progressqstring-file--int-processedentries--int-totalentries--qint64-bytesprocessed-qint64-bytestotal), it only emits the exact progress when given [setCalculateProgress(true)](https://antonyjr.in/QArchive/docs/QArchiveDiskExtractor.html#void-setcalculateprogressbool-choice

[2021-03-01 14:53] ericriff opened #34 "Add cmake install support"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [X] Suggestion
- [ ] Other (please describe):

Hi!

I realized your library doesn't have `cmake install` support, which is pretty standar on CMake built libraries.
Do you mind adding it?

Thanks!

[2021-03-01 16:10] ericriff opened #35 "Undefined libarchive symbols"
**Select your issue type:** (check at least one)
- [X] Bug
- [X] Question
- [X] Suggestion
- [ ] Other (please describe):

I'm building a small project using this library and I'm getting a lot of errors regarding undefined symbols that relate to `libArchive`
[code]
Since I'm using this library through Conan (there is no official package, that is what I'm working on) I can easily do `self.requires.

[2021-03-01 16:38] antony-jr commented on #35
Thanks for reporting this. Usually I just link with ```target_link_libraries(QArchive PUBLIC Qt5::Core archive)``` so I'm not using the CMake traditional way. I will look into this.

[2021-03-01 16:38] antony-jr commented on #34
I will look into this, Thanks for reporting.

[2021-03-01 16:57] ericriff commented on #35
I see. The difference is that by using the CMake find modules you get an early error if a given library, i.e. libArchive is not available or not found. That is because `find_package` is invoked during CMake's configure stage.
By contrast, they way you're instructing CMake to link it makes it possible to fail at linking stage, which is the last stage of the build.
I don't know how CMake handles fin

[2021-03-01 17:07] ericriff commented on #35
Consider:
[code]

[2021-03-01 17:12] antony-jr commented on #35
@ericriff Thanks. I've pushed the required changes in the latest commit in the master branch. Can you please test it?

[2021-03-01 17:13] antony-jr commented on #34
@ericriff Done. Please test the latest commit in the master branch.

[2021-03-01 17:27] ericriff commented on #35
Amazing!
Please bump CMake minimum version to 3.17 since older versions do not support the scoped target for libArchive
[code]

[2021-03-01 17:51] ericriff commented on #34
It works correctly. Thanks for fixing this so quickly!

[2021-03-01 17:51] #34 closed

[2021-03-01 17:52] ericriff commented on #35
After bumping the CMake minimum version, could you add a new release tag? :pray:

[2021-03-01 18:00] antony-jr commented on #35
Sure. I'm currently migrating from Travis-CI. Would definitely do it after that.

[2021-03-01 18:02] ericriff commented on #35
Awesome. Do you have an ETA?

[2021-03-01 18:03] antony-jr commented on #35
10 minutes at max. I will ping you when it's done.

[2021-03-01 18:21] antony-jr commented on #35
@ericriff More time needed than estimated but I've bumped the CMake version to 3.17, you can use [v2.0.1](https://github.com/antony-jr/QArchive/releases/tag/v2.0.1) release tag for the latest changes. Also adds [PVS Studio Analysis](https://antonyjr.in/QArchive/PVSStudioAnalysis/index.html) for the library.

[2021-03-01 18:26] ericriff commented on #35
Awesome!
Thanks for the quick responses and fixes.

[2021-03-01 18:26] #35 closed

[2021-03-03 21:08] ericriff opened #36 "Wextra flag is GCC only, current code doesn't build on Windows"
- [X] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

The following line sets `Wextra` as a `CXX` flag which breaks build on Windows.
https://github.com/antony-jr/QArchive/blob/master/CMakeLists.txt#L14

See: https://stackoverflow.com/questions/2274006/cmake-invalid-numeric-argument-wextra

Could we remove it or condition its inclusion on GCC as the stackoverflow post suggests?

[2021-03-04 07:09] #36 closed

[2021-03-05 14:57] ericriff opened #37 "Error on Windows + shared"
- [X] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

As I told you I've been working on packing your library with Conan. https://github.com/conan-io/conan-center-index/pull/4774
Conan CCI builds detected errors on Windows builds when using the shared version of the library, so I had to disable them for now.
The error we get is
[code]

Where `test_package.cpp` is the example co

[2021-03-05 15:12] antony-jr commented on #37
I never cared about Windows. Let me look into it.

[2021-03-05 15:53] antony-jr commented on #37
@ericriff Can you try with release v2.0.2?

[2021-03-05 16:28] antony-jr commented on #37
A more complete fix is in **v2.0.3** but I'm no windows expert, I just added the Q_DECL_IMPORT and Q_DECL_EXPORT as the user insisted.

[2021-03-05 16:37] ericriff commented on #37
Awesome, thanks. 2.0.2 is being built in CCI. Lets see how it goes.

[2021-03-05 16:48] antony-jr commented on #37
More likely it will fail. Sorry.

[2021-03-06 21:49] dprotti opened #38 "Misc typos"
**Select your issue type:** (check at least one)
- [x ] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
There are some typos in the documentation and in information messages printed by the library.

**Ways to Reproduce the issue (optional):**

[2021-03-08 16:45] antony-jr commented on #38
Thanks. Your changes have been merged.

[2021-03-08 16:45] #38 closed

[2021-06-03 13:17] dprotti opened #41 "TarFormat silently discards files larger than 9GB"
**Issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Issue**

Hi. The company for which I work (iRobot) is using QArchive to create among other things tarballs from large files.
QArchive succeeds to create `QArchive::TarFormat` files containing files under ~4~ 9GB in size each.
However if any file added to the .tar is larger than ~4~ 9GB

[2021-06-03 16:01] antony-jr commented on #41
I will look into this ASAP.

[2021-06-03 16:19] antony-jr commented on #41
@dprotti Have you tried the example program disk compressor? I just compressed a 7.8GB file in a tar with that example program. I will be investigating further.

Can you tell me what OS are you in?

[2021-06-03 16:35] dprotti commented on #41
Thank you! I'll try your example program later today.

I'm using Ubuntu 18.04, Qt 5.9.5 and libarchive 3.4.0.

[2021-06-03 16:37] antony-jr commented on #41
@dprotti I can reproduce your issue with files 9GiB and larger.

[2021-06-03 17:57] antony-jr commented on #41
@dprotti The error seems to be with ustar format, the exact error can be found by executing the following command in bsdtar,

[code]

[2021-06-03 17:57] antony-jr commented on #41
But I think I need to add better error reporting.

[2021-06-03 18:05] antony-jr commented on #41
@dprotti The fix to this issue is to use **gnutar** format instead of **ustar** format. I will add extra formats and add more error checking in the upcoming fix.

[code]

[2021-06-03 19:19] antony-jr commented on #41
@dprotti *Can you please try the master branch?* I've employed a fix.

[2021-06-03 19:19] #37 closed

[2021-06-04 13:56] dprotti commented on #41
Thanks! That works.
Could you please create a new release with the fix? Then we can pull in easily into our conan system.

Thanks again for your work on this.

[2021-06-04 13:58] antony-jr commented on #41
Okay.

[2021-06-04 14:14] #41 closed

[2021-06-20 18:44] antony-jr commented on #21
@alvin-xian **v2.1.0** now has a way to add directory for compression. **Now addFiles() method will automatically add directories.**

[code]

[2021-06-20 18:44] #21 closed

[2021-06-20 18:48] antony-jr commented on #33
@unusual-aspect You can get the no. of entries with getInfo(). Like this.

[code]

[2021-06-20 18:48] #33 closed

[2021-06-20 18:50] antony-jr commented on #32
@KGergo88 As of **v2.1.0** you can now extract archives in memory.

Please see this [blog post](https://antonyjr.in/QArchive/blog/2021/06/19/Announcing-v2.1.0.html).

[2021-06-20 18:50] #32 closed

[2021-06-20 21:14] antony-jr commented on #33
Also @unusual-aspect even if we implement a function to get the no. of entries and just return it. We would have to walk the entire archive which takes a lot of time based on the size of an archive. So with a async function like getInfo(), you won't block your GUI so that's why I'm not giving any sync functions. But you could make a simple function to do this sync too.

[code]

[2021-07-12 01:01] g-fb opened #43 "Using QArchive with CMake not working"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [ ] Suggestion
- [x] Other (please describe):

**Describe your issue:**
Using QArchive with CMake and `add_subdirectory(QArchive)` doesn't work.
Worked before https://github.com/antony-jr/QArchive/commit/aca418c262f52b585be639c8b2623237c5596bec

[code]
**Ways to Reproduce the issue (optional):**
main.cpp
[code]

CMakeLists

[2021-07-12 07:44] antony-jr commented on #43
@g-fb Can you try the latest master branch. I've pushed a commit to fix this. Thanks for reporting.

[2021-07-12 12:47] g-fb commented on #43
Works now. Thanks.

[2021-07-12 12:47] #43 closed

[2021-08-12 15:03] d-divita opened #44 "Unable to build in Windows since 2.0.1"
**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
I'm trying to build a project with your library; since version 2.0.1, I'm no more able to correctly build (I've figured out a workaround for version 2.0.2, but it doesn't work for 2.1.0).
I [directly added QArchive to my project](https://antonyjr.in/QA

[2021-08-12 15:33] antony-jr commented on #44
I will look into it. But you can also use it from conan https://conan.io/center/qarchive

[2021-08-12 15:38] d-divita commented on #44
Honestly I have no idea of how to use it, I looked at your documentation but it is still obscure to me, and in addition I'm using qmake so I don't want to switch to cmake

[2021-08-13 09:43] antony-jr commented on #44
@d-divita I have deployed a fix to the master branch please test it out. Make sure to use the new pri file https://github.com/antony-jr/QArchive/blob/master/QArchive.pri

The issue was that I forgot to define ```QARCHIVE_STATIC``` in the pri file. This was in the .pro file so the library compiled but not other projects which only included the pri file. So now I've moved the definition to pri file.

[2021-08-13 10:32] d-divita commented on #44
Thanks a lot, now it works flawlessly!

[2021-08-13 10:33] #44 closed

[2021-11-23 14:03] krab opened #46 "QArchive::Extractor start() call without directory."
**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

example code
[code]

When you forget to set ` extractor->setOutputDirectory("/path/to/dir) ` and call `start()` then qarchive doesnt work properly.

[code]
It writes 2 times qfiledevice error probably from `short ExtractorPrivate::checkOutputDirectory() {` function and also se

[2021-11-23 18:52] antony-jr commented on #46
@krab ```QArchive::Extractor``` is not documented and it's actually intended for internal use. So using it **is not recommended**.

I tested your code and it seems to work without having to set ```setOutputDirectory```. *I think I need more info on this.*

This might be a edge case I'm missing.

Does this work with the public class ```QArchive::DiskExtractor```. Also make sure your input QIODevice

[2021-11-24 11:05] krab commented on #46
full example above with getInfo() and with start()?

Here is my test1.tar archive made from msedge binaries (symlinks and one hardlink)
https://drive.google.com/file/d/12ZnKIDQdoOu2_PxEZ3zo_GetShvMw8qy/view?usp=sharing

[2021-11-24 11:06] krab commented on #46
Anyway it seems like QArchive doesn't support extraction of single file / list of files from archive?

[2021-11-24 14:00] antony-jr commented on #46
I'm trying to reproduce your issue. I will ping you when I find something.

[2021-11-24 14:01] antony-jr commented on #46
It does support that. see [addFilter](https://antonyjr.in/QArchive/docs/QArchiveDiskExtractor.html#void-addfilterconst-qstring-filter).

[2021-11-24 14:18] antony-jr commented on #46
@krab as I said the ```Extractor``` class is not for public use and will not be documented. Please use ```MemoryExtractor``` or ```DiskExtractor```. See documentation at https://antonyjr.in/QArchive

Here is the code I used.

[code]

 and **it seems to work.**

I successfully extracted the test archive you give with no issue.

libarchive version information,
[code]

[2021-11-24 14:44] antony-jr commented on #46
@krab is this actually resolved??

[2021-11-24 15:03] krab commented on #46
Works if i do `start` and then `getInfo`, but not otherwise. Probably some sort of race conditions or something.

[2021-11-24 15:35] krab commented on #46
Fedora 35 with KDE. Debug build into `/usr` prefix.

[2021-12-28 11:36] winsoft666 opened #49 "Don't support chinese"
Compress `新建文件.txt` to zip, then extract to desktop, the filename is unreadable.

[2021-12-28 11:41] antony-jr commented on #49
Thanks for reporting. I will look into this.

[2021-12-28 11:42] winsoft666 commented on #49
I has found a way to solve by adding below code to main function:
`setlocale(LC_ALL, ".936");`

But I don't know why?

[2021-12-28 11:45] winsoft666 opened #50 "Can't compress empty file"
Can't compress empty file( file size is 0 byte).

Maybe need comment [qarchivecompressor_p.cc#L618](https://github.com/antony-jr/QArchive/blob/035d2a8a205ea4841ca8389b365b8020e3a966c4/src/qarchivecompressor_p.cc#L618)

[2021-12-28 11:47] antony-jr commented on #49
Locale sets the region and language for the user. So I think what we have here is a locale error. I think we should manage locale from withing the library to handle all languages.

[2021-12-28 11:51] antony-jr commented on #50
I never saw the use case for compressing all empty files. Let me see.

[2021-12-28 11:58] winsoft666 commented on #50
Right click desktop, create an new empty txt file, rename this file( just filename has a special meaning, file content is empty ), then compress this file to zip.

[2021-12-28 12:09] antony-jr commented on #50
Yeah I get the idea. The thing is why do we make an archive only consist of empty files? Anyways I think we should handle this case too. I will look into this.

[2022-01-19 14:35] d-divita opened #51 "Qt6 build error"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [ ] Suggestion
- [X] Other (please describe):

**Describe your issue:**
I'm trying to build the examples with Qt 6.2.2 on Windows with MinGW and I get several errors (and some warnings), here they are:

[Warning]

which is present also in qarchivecompressor_p.cc:451, qarchiveextractor_p.cc:424, and qarchiveextractor_p.cc:4

[2022-01-19 15:18] antony-jr commented on #51
Seems very hard to debug since this error is from moc. I will try to build this and check where the error is coming from.

[2022-01-24 15:25] DeuxVis commented on #51
Note that this is maybe specific to the compiler version too.
I don't reproduce the errors with gcc 10.3.0 on linux, only the deprecation warnings.

[2022-01-24 15:29] DeuxVis commented on #51
@d-divita how was Qt 6.2.2 installed in your environment ?
I am asking because that `incomplete type 'class QVariant` error : I often get similar errors when I build my own Qt and disable some Qt features or modules that I actually need/use.

[2022-01-24 17:00] d-divita commented on #51
@DeuxVis I'm on Windows, I installed it through the online installer, I selected MinGW 9.0.0 inside Qt 6.2.2, and no other packages. I see that Qt 6.2.1 uses MinGW 8.1.0 and Qt 6.3.0 uses MinGW 11.2.0, I could try also these two to see if there are differences in the build errors.

![image](https://user-images.githubusercontent.com/50867320/150827985-c0ff9abc-8202-4491-a67a-eb93e35ffa1b.png)

[2022-02-15 13:55] dprotti opened #53 "Add zstd support"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [x] Suggestion
- [ ] Other (please describe):

**Describe your issue:**

QArchive is a wrapper around libarchive, a library which already supports [zstandard](https://en.wikipedia.org/wiki/Zstd) compression algorithm.
However QArchive does not include zstd among its QArchiveFormats. In our company we use zstd extensively s

[2022-02-20 13:33] antony-jr commented on #53
I've been working on this in the past days. The compression and extraction works but the memory based compression and extraction is not working well. I think there is some callbacks which I need to properly implement. (notably the archive_read_skip callback). Since some callbacks are crucial for different types of archives.

[2022-02-22 00:37] dprotti commented on #53
Thank you very much for your work on this! I'll be happy once this work completes, and for sure many users of your library. Zstd is a great algorithm so would be a very valuable work to have it available on QArchive.

[2022-03-12 15:44] g-fb opened #54 "MemoryExtractor crashes or emits error"
**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
MemoryExtractor crashes or emits error even though the `finished` signal is emitted and the file names are printed by `qDebug()`.

**Ways to Reproduce the issue (optional):**
[Here's a sample project](https://gitlab.com/g-fb/memory-extraction), just ru

[2022-03-12 18:23] antony-jr commented on #54
I will look into this. What OS are you in and what archive type are you trying to extract?

[2022-03-12 18:34] g-fb commented on #54
Wow, I forgot to link the sample project, here it is https://gitlab.com/g-fb/memory-extraction.

openSUSE Tumbleweed

There are 2 archive in the sample project, both trigger the issues.

[2022-03-13 10:34] antony-jr commented on #54
@g-fb I don't think it's a bug with QArchive. It's a bug with the program itself. There are two types of allocation in C, C++ and pretty much every programming language (which allows you to do memory management). You allocated the **QFile** in **Stack Memory** here -> https://gitlab.com/g-fb/memory-extraction/-/blob/master/mainwindow.cpp#L53

QArchive is **async** so it will not block the method c

[2022-03-13 12:34] g-fb commented on #54
Thanks for the explanation.

Now I am getting the error even when I pass a QIODevice. It doesn't always happen, I have to open the archives a few times.
...
Filename::  "astrology-astronomy-body-of-water-2406397.jpg"
Filename::  "beautiful-flowers-flowers-white-flowers-2395252.jpg"
QFileDevice::seek: IODevice is not open
QFileDevice::seek: IODevice is not open
An error has occured :: "QArchive::Ar

[2022-03-13 12:53] antony-jr commented on #54
I can't reproduce this. In my computer it works fine. I will look into this more.

[2022-03-13 12:55] antony-jr commented on #54
Also you can just simply pass the archive path as string to the constructor.

[2022-03-13 12:56] antony-jr commented on #54
Can you please verify if this bug exists even if you do a fresh build in cmake.

[2022-03-13 12:58] antony-jr commented on #54
I think I just reproduced your bug if I do the extraction continuously.... I think it's some kind of time based issue. I will look into this more.

[2022-03-13 13:06] g-fb commented on #54
Same thing happens.

The sample project pulls the master branch and builds it.

Thanks.

[2022-03-13 15:34] antony-jr commented on #54
@g-fb does this issue happen all the time or only happens when you try to extract the same file very fastly. Ex: in my case this only occurs when I double click the same entry really fast, over and over again to get this error.  Otherwise it seems to work
without any issues. What is the case in your case?

[2022-03-13 15:41] g-fb commented on #54
It doesn't happen everytime, but very often, even if I wait few seconds between extractions.

It even happens on the first extraction.

[2022-03-13 21:01] g-fb commented on #54
The error seems to come from `QCoreApplication::processEvents();` being [inside the loop](https://github.com/antony-jr/QArchive/blob/master/src/qarchiveextractor_p.cc#L932).
If I move `QCoreApplication::processEvents();` outside the loop I don't get the error anymore.

[2022-03-14 04:35] antony-jr commented on #54
That just means we need some delay and we are calling process events too fast.

[2022-05-02 19:11] moyamartin commented on #53
Hi Antony-jr, I am also interested in this issue. Are there any updates on this?

[2022-05-03 05:47] antony-jr commented on #53
@moyamartin Yeah, almost complete. Only one test is failing in memory based extraction for zstd (I might be doing something wrong). Take a look at the progress in this new branch -> https://github.com/antony-jr/QArchive/tree/zstd

[2022-10-27 09:23] theLSB opened #56 "No distinguishable progress signal is being emitted for file exacted or filtered"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [ ] Suggestion
- [x ] Other (please describe):

**Describe your issue:**
When applying a filter for extraction, QArchive still emits a progress signal for the filtered files, which is not distinguishable from extracted files.
The reason is that ExtractorPrivate::writeData() retuns "NoError" both for an extracted file and a

[2022-10-29 08:41] antony-jr commented on #54
Seems to be related with #46, the error is solved if we don't call getInfo() before start which is a bug. Will work on fixing it.

[2022-10-29 08:41] #53 closed

[2022-10-30 18:16] #54 closed

[2022-10-30 18:17] #46 closed

[2022-10-30 18:20] antony-jr commented on #54
Should work now with the latest master.

[2022-10-30 18:21] antony-jr commented on #46
It works now with the latest master.

[2022-10-31 18:51] antony-jr commented on #53
Yes. After a little bit of nitpicks.

[2022-11-01 12:22] moyamartin commented on #53
Thanks @antony-jr let me know when you have a new release so I can update the dependency! Have a nice week

[2022-11-02 19:29] antony-jr commented on #53
The latest release now has zstd support.

[2022-11-09 15:20] lmussier opened #58 "QArchive does not build with QT 6.2.4"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [ ] Suggestion
- [x] Other (please describe):

**Describe your issue:**

Building QArchive fails on ubuntu 22.04 + QT 6.2.4.

**Ways to Reproduce the issue (optional):**

1. Grab a 22.04.
2. Install QT 6.2.4
3. git clone https://github.com/antony-jr/QArchive.git @ v2.2.0
4. cmake / make
5. You'll get this error (among othe

[2022-11-09 16:27] lmussier commented on #58
Hmm since that the fix is straightforward regarding #45

[2022-11-09 18:03] antony-jr commented on #58
QArchive is still not tested with Qt6, I think its time we add that to avoid cases like this in the future.. Seems like an easy fix. Will do asap. (or you can send a PR if you like)

[2022-11-10 09:19] lmussier commented on #58
@antony-jr done with #59

[2022-11-10 09:45] #58 closed

[2022-11-10 09:48] lmussier commented on #58
Thanks for the work and the reactivity 👍

[2022-11-13 03:02] neheb commented on #51
@antony-jr https://forum.qt.io/topic/84059/invalid-application-of-sizeof-to-incomplete-type-qvariant/3 says missing header. I applied the suggestion locally to qarchivecompressor_p.h and it worked.

[2022-11-13 05:45] antony-jr commented on #51
Interesting, but I never used QVariant in the code anywhere.

[2022-11-13 06:50] neheb commented on #51
https://github.com/antony-jr/QArchive/blob/master/include/qarchivecompressor_p.hpp#L27

[2022-11-13 08:22] antony-jr commented on #51
Thanks. Definitely missed that, I will merge the PR asap.

[2022-11-13 11:07] #51 closed

[2022-11-14 12:53] dprotti commented on #53
@antony-jr thank you very much for your work on this!
We'll be integrating this new version soon to our systems and let you know how it goes.

[2022-11-15 04:53] neheb commented on #51
This can be closed I think.

[2022-11-21 22:08] evan-swinney opened #66 "Qt6 Support"
**Select your issue type:** (check at least one)
- [ ] Bug
- [X] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**
Hello, I was trying to download QArchive through Conan for Qt 6, specifically Qt 6.4.1, but I cannot seem to get it to compile. I was wondering if this was because of a dependency on Qt 5.

I linked QArchive manually using the submodule approach and it

[2022-11-22 22:32] antony-jr commented on #66
@evan-swinney it seems like https://github.com/conan-io/conan-center-index/pull/14212 is pending, once that gets through you can get Qt6 support from the conan package itself, maybe we need add v2.2.3 which has even more improvements.

[2022-11-23 10:00] antony-jr commented on #49
This related to https://github.com/libarchive/libarchive/issues/587

[2022-11-23 12:03] Philippe91 commented on #49
On windows, use archive_read_disk_open_w and not archive_read_disk_open